{% extends "todos/base.html" %}

{% block title %} Homepage | {% endblock title %}

{% block active_home %}active{% endblock active_home %}

{% block content %}

<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                {% for todo in todos %}
                    <li class="list-group-item d-flex justify-content-between">
                        <h5 class="mb-0">{{todo.todo}}</h5>
                        <div>
                            <a href="{% url 'edit' todo.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete' todo.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}